<%- model_class = Plot.new.class -%>

<h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>

<table id="plots" class = "table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:acronym) %></th>
      <th><%= model_class.human_attribute_name(:location_id) %></th>
      <th><%= model_class.human_attribute_name(:specy_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  <thead>
  <tbody>
    <% @plots.each do |plot| %>
      <tr>
        <td><%= link_to plot.name, plot_path(plot) %></td>
        <td><%= plot.acronym %></td>
        <td><%= plot.location.name %></td>
        <td><%= plot.especy.name %></td>
        <td><%= link_to '<i class= "icon-eye-open"></i>'.html_safe, plot_path(plot) %>
            <%= link_to '<i class= "icon-pencil"></i>'.html_safe, edit_plot_path(plot) %>
            <%= link_to '<i class= "icon-trash"></i>'.html_safe, plot, method: :delete, data: { confirm: 'Are you sure?' } %></td>     
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<br/>
<%= link_to 'New Plot', new_plot_path, :class => 'btn btn-primary' %>


